.comment {
  margin: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vh;
  margin-left: 150px;
  margin-right: 150px;
  padding: 20px;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.edit-delete-buttons {
  box-shadow: none;
}

.edit-comment {
  margin-right: 10px;
  background-color: white;
  color: black;
  border: 2px grey solid;
  border-radius: 10px;
  padding: 1px 6px;
  text-decoration: none;
  font-weight: bold;
  font-family: "Avenir Next", Calibri, Verdana, sans-serif;
  font-size: 16px;
}

.comment-buttons-div {
  margin-top: 10px;
}

.comment-box {
  margin-top: 10px;
  border: 2px grey solid;
  border-radius: 10px;
  padding: 20px;
  width: fit-content;
  justify-content: center;

}

.article-image {
  height: 500px;
  width: 500px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 30px;
}

.page-not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.title-not-found {
  display: flex;
  padding: 20px;
  flex-direction: column;
  margin-left: 40%;
  text-align: center;
  margin-top: 150px;
  background-color: white;
  color: black;
  border: 4px grey solid;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: "Avenir Next", Calibri, Verdana, sans-serif;
  font-size: 40px;
  width: fit-content;
}

.explanation-not-found {
  text-align: center;
  margin-top: 150px;
  background-color: white;
  color: black;
  border: 4px grey solid;
  border-radius: 10px;
  padding: 1px 6px;
  text-decoration: none;
  padding: 20px;
  font-weight: bold;
  font-family: "Avenir Next", Calibri, Verdana, sans-serif;
  font-size: 40px;
  width: fit-content;
}

NavLink {
  cursor: pointer;
}

button {
  cursor: pointer;
}
