.footer-text {
  font-weight: 100;
  font-size: 20px;
  padding-top: 10px;
}

.footer {
  display: flex;
  width: 100%;
  margin-top: 100px;
  background-color: black;
  border-radius: 20px;
  position: absolute;
  bottom: 0;
}

.technologies {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  justify-content: space-between;
  margin: 0px 20px;
}

.python {
  color: red;
}

.react {
  color: white;
}

.redux {
  color: red;
}

.flask {
  color: white;
}

.postgresql {
  color: red;
}

.javascript {
  color: white;
}

.css {
  color: red;
}

.html {
  color: white;
}

.footer-text {
  color: red;
}

.creator-info {
  display: flex;
  flex-direction: row;
  width: 20%;
  justify-content: space-between;
  margin: 10px 20px;
}
