.Landing-title {
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: 100;
  border: 2px grey solid;
  text-align: center;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 40px;
  margin-left: 38%;
  margin-right: 38%;
  padding-top: 10px;
  padding-bottom: 10px;
}


.Landing-Container {
  display: flex;
  justify-content: space-around;
  height: fit-content;
  border: 5px grey solid;
  overflow: scroll;
  text-align: center;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 10px;
  border-radius: 10px;
}

.LandingImage {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 5px;
}


.github {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 50px;
}


.site-title {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-weight: 100;
  border: 2px grey solid;
  text-align: center;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 40px;
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 10px;
  padding-bottom: 10px;

}

.footer-text {
  font-weight: 100;
  font-size: 20px;
  padding-top: 10px;
}

.Landing-link:hover {
 /* width: 400px;
 height: 550px; */
 background-color: grey;
 border-radius: 10%;
 transform: scale(1.05);
}

.Landing-link {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.Landing-title-topic {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 100;
    border: 2px grey solid;
    text-align: center;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 40px;
    margin-left: 40%;
    margin-right: 40%;
    padding-top: 5px;
    padding-bottom: 5px;
}
