/* TODO Add site wide styles */
body {
  font-family: "Avenir Next", Calibri, Verdana, sans-serif;
}

.button {
  font-family: "Avenir Next", Calibri, Verdana, sans-serif;
}

a {
  color: black;
  font-weight: 800;
}

body {
  overflow: scroll;
}

.validationErrors {
  color: red;
  text-decoration: none;
  list-style-type: none;
}
