/* TODO Add site wide styles */
body {
  font-family: "Avenir Next", Calibri, Verdana, sans-serif;
}

.button {
  font-family: "Avenir Next", Calibri, Verdana, sans-serif;
}

a {
  color: black;
  font-weight: 800;
}

body {
  overflow: scroll;
}

.validationErrors {
  color: red;
  text-decoration: none;
  list-style-type: none;
}

.category-style {
  border: 2px solid grey;
  padding: 10px;
  border-radius: 5px;
}

.category-ability {
  border: 2px solid grey;
  padding: 10px;
}
