.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding: 50px;
}

.username-signup {
  padding: 20px;
}

.email-signup {
  padding: 20px;
}

.password-signup {
  padding: 20px;
}

.repeat-signup {
  padding: 20px;
}

.demo-div {
  padding: 20px;
  margin-top: 20px;
  padding-bottom: 0px;
}

.signup-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.signup-button {
  border: 2px grey solid;
  border-radius: 10px;
  margin: 0 auto;
  width: 75px;
  font-weight: bold;
  cursor: pointer;
  background-color: white;
  color: black;
}

.title-login {
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 100;
  border: 2px grey solid;
  padding: 15px;
  border-radius: 10px;
  max-width: fit-content;
}

.username-label {
  padding-right: 5px;
}

.email-label {
  padding-right: 5px;
}

.password-label {
  padding-right: 5px;
}
