.create-comment {
  margin-right: 10px;
  background-color: white;
  color: black;
  border: 2px grey solid;
  border-radius: 10px;
  padding: 1px 6px;
  text-decoration: none;
  font-weight: bold;
  font-family: "Avenir Next", Calibri, Verdana, sans-serif;
  font-size: 16px;
  margin-top: 20px;
}

.edit-caption {
  margin-bottom: 20px;
  margin-top: 50px;
}
