.Container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.articleCard {
  border: 2px solid black;
}


.articleImage {
  max-width: 300px;
}

.PageTitleArticlesList {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: 100;
    border: 2px grey solid;
    text-align: center;
    border-radius: 10px;
    box-sizing: border-box;
    margin-left: 35%;
    margin-right: 35%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.Articles-link {
  margin-top: 10px;
  padding: 10px;
}

.Articles-link:hover {
  /* width: 400px;
  height: 550px; */
  background-color: grey;
  border-radius: 10%;
  transform: scale(1.1);
 }


.article-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  text-align: center;
  max-height: 550px;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 25px;
}

.articleImage {
  height: 300px;
  width: 300px;
  object-fit: cover;
}

