.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: black;
  font-size: 20px;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.active:visited {
  text-decoration: none;
  color: white;
}

.active {
  text-decoration: none;
  color: white;
}

nav {
  text-decoration: none;
}

.nav-text {
  color: white;
  text-decoration: none;
}

.logo {
  height: 25px;
  width: 25px;
  object-fit: cover;
}
